
.accounts-container {
  composes: card-box from "../../common/card";
}

.title {
  composes: title from "../../common/card";
}

.list {
  composes: list from "../../common/card";
}

.item {
  composes: item from "../../common/card";
}