@value red-medium from "../../common/colors";

.accounts-container {
  composes: card-box from "../../common/card";
}

.title {
  composes: title from "../../common/card";
}

.list {
  composes: list from "../../common/card";
}

.item {
  composes: item from "../../common/card";
}

.action-btn {
  composes: button from "../../common/button";
  margin: 0 1rem;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 0 0.5rem;
  width: auto;
}

.delete-btn {
  composes: action-btn;
  background-color: red-medium;
  color: white;
}
