@value grey-lighter from "../../common/colors";
@value grey-medium-dark from "../../common/colors";

.repository-card {
  composes: card-box from "../../common/card";
}

.title {
  composes: title from "../../common/card";
}

.list {
  composes: list from "../../common/card";
}

.item {
  composes: item from "../../common/card";
}

.sync-btn {
  composes: button from "../../common/button";
  font-size: 1.5rem;
  margin: 0.5rem;
  width: 15rem;
}