@value grey-lighter from "../../common/colors";
@value grey-medium-light from "../../common/colors";
@value grey-medium-dark from "../../common/colors";
@value grey-darker from "../../common/colors";

.form {
  composes: card-box from "../../common/card"
}

.title {
  composes: title from "../../common/card"
}


.save-btn {
  composes: button from "../../common/button";
}

.add-btn {
  color: grey-medium-light;
  font-size: 7rem;
  margin: auto;
  display: block;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: grey-medium-dark;
  }
}


.fields {
  display: flex;
  margin-top: 1rem;
}

.label {
  margin-left: 1rem;
  color:grey-darker;
  font-size: 1.3rem;
}

.picker {
  width: 40%;
  margin: auto;
}

.center-column {
  width: 20%;
  margin-top: 5rem;
}
